.hero {
    width: 100%;
    height: 100vh;
    background-color: #F1F2F0;
    padding: 0 32px;
    position: relative;
    display: flex;
    align-items: flex-end;
}
.hero > div:last-child {
    width: 100%;
    height: 85vh;
    position: relative;
}
.hero > div:first-child {
    width: 75%;
}
.heroImg {
    width: 100%;
    height: 100%;
    position: relative;
}
.hero > div:first-child h1 {
    font-family: "Romie Trial";
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 97%; /* 65.96px */
    letter-spacing: -1.36px;
}
.hero > div:first-child h1 span {
    font-style: italic;
}
.hero > div:first-child a {
    font-size: 1rem;
    font-weight: 400;
    line-height: 100%; /* 14px */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 64px 0 36px 0;
    gap: 16px;
}
.heroAfter {
    width: 100%;
    padding: 48px 32px 80px 43%;
}
.heroAfter p {
    font-size: 1.36rem;
    font-weight: 375;
    line-height: 140%;
}
.heroAfter > div:last-child {
    padding-top: 48px;
}
.heroAfter a {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    text-decoration-line: underline;
}
@media (max-width: 768px) {
    .hero {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: normal;
    }
    .hero > div:first-child {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        padding: 17vh 0 32px;
    }
    .hero > div:first-child h1 {
        font-size: 2rem;
    }
    .hero > div:first-child a {
        padding: 0;
    }
    .hero > div:last-child {
        height: 75vh;
        width: calc(100% + 64px);
    }
    .heroAfter {
        padding: 48px 32px 80px 32px;
    }
}
@media (max-width: 475px) {
    .hero {
        height: 80vh;
    }
}