.Gallery {
    position: relative;
}
.GalleryTitle {
    position: absolute;
    top: -10px;
    z-index: 100;
}
.Gallery h1 {
    font-family: 'Romie Trial';
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 97%; /* 46.56px */
    letter-spacing: -0.96px;
    padding-left: 32px;
}
.GalleryButton {
    display: flex;
    gap: 16px;
}