* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "PP Neue Montreal"!important;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (min-width: 1920px ) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 1920px ) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px ) {
  html {
    font-size: 12px;
  }
}
