.NavBar {
    display: flex;
    width: 100%;
    padding: 0 32px;
    position: absolute;
    z-index: 10;
}
.NavList {
    display: flex;
    gap: 24px;
    visibility: visible;
    opacity: 1;
    padding: 0 24px;
    flex-grow: 2;
    padding-left: calc(10% - 2px);
}
.NavList ul {
    align-self: center;
}
.NavList,
.NavIcons {
    align-items: center;
    padding-bottom: 32px;
}
.NavList a {
    font-size: max(1rem, 14px);
    font-weight: 300;
    opacity: 0.5;
}
.NavIcons {
    display: flex;
    gap: 16px;
}
.BurgerOn {
    display: none;
}
.NavBar ul p {
    display: none;
}
.LoginButton {
    display: none;
}
.LogoDesk {
    margin-top: 32px;
    width: 33%;
}
.LogoDesk img {
    width: 100%;
    height: 100%;
}
.LogoMob {
    display: none;
}
.LogoMob img {
    width: 30%;
}
.NavList a.activePath {
    text-decoration: underline;
    opacity: 1;
}
@media (max-width: 768px) {
    .NavBar {
        justify-content: space-between;
    }
    .NavList {
        visibility: hidden;
        display: block;
        position: absolute;
        width: calc(100% - 60px);
        z-index: 10;
        padding: 16px;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 16px;
    }
    .NavList > * {
        padding: 12.5px 0;
    }
    .NavList a {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
    }
    .NavBar ul p {
        display: block;
        padding-right: 4px;
    }
    .NavIcons {
        padding-top: 30px;
    }
    .BurgerOn {
        display: block;
    }
    .LoginIcon {
        display: none;
    }
    .LogoMob {
        display: flex;
        justify-content: space-between;
    }
    .LogoDesk {
        margin-top: 16px;
    }
    .LoginButton {
        display: flex;
        justify-content: center;
        padding-top: 27.5px;
    }
    .LoginButton a {
        padding: 14px max(20vw, 100px);
        text-align: center;
        color: white;
        background-color: black;
        border-radius: 33px;
        opacity: 1;
    }
  }
  @media (max-width: 475px) {
    .LogoDesk {
        margin-top: 0;
    }
    .LogoDesk img {
        width: 125%;
    }
}
  
  